table
    tr
        th User ID
        th First Name
        th Email
        th Age
    each user in users
        tr
            td= user.uid
            td= user.name
            td= user.email
            td= user.age
                a(href= `/userEdit/${user.uid}`) Edit

